//v 0.2
body{
    background-color: #11131b;
    color: white !important;
}
#monthlyEarning{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
}
.plantInput{
    
    .nonNFT{
        #sMama,#sSapling{
            padding: 2em 4em;
        }
    }
    .input_id{
        padding: 2em 4em;
    }
    .input_id{
        padding-left: 0;
        padding-right: 0;
        width: 30vw;
        .form{
            display: block;
            width: 100%;
            height: min-content;
            padding: 0.125em;
            label{
                display: flex;
            }
            input, select{
                background-color: #1b1e2b;
                width: 10em;
                padding: 0.25em;
                color: white;
                display: flex;
            }
            input#generatedLE, input#daysToProduce{
                width: 4.3em;
                display: inline-flex;
            }
        }
    }
}
.nftPlant{
    display: flex;
    justify-content: center;
    #showNFT{
        padding: 2em 4em;
    }
    .plants{
        background-color: #1b1e2b;
        width: 50vw;
        .nftPlant{
            background-color: #10121a !important;
            width: auto;
            justify-content: space-between;
            padding: 2em;
            margin: 2.4em;
        }
    }
    
}